@media (max-width: 991.98px){
    .ftco-partner .partner {
        padding: 0 !important;
    }
}

 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .col-xs-6{
        width: 50%;
    }
 }
/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)

// No */
#ftco-navbar > div > a{
    color: #3e64ff;
}
.navbar-brand:after {
    position: absolute;
    top: 50%;
    left: -22px;
    width: 104px;
    height: 104px;
    content: '';
    background: #3e64ff;
}
#ftco-navbar > div > a > span{
    margin-right: 20px;
}
#myCv{
    font-size: 1.1rem;
}
#myCv:hover{
    color: #3e64ff!important;
    background-color: #fff !important;
    border-color: transparent !important;
}

.block-23 ul li .icon{
    padding:0 !important;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0px;
}

[class^="flaticon-"]:before, [class*="flaticon-"]:before,
[class^="flaticon-"]:after, [class*="flaticon-"]:after {
    font-size: 30px;
}

[class^="service flaticon-"]:before, [class*="service flaticon-"]:before,
[class^="service flaticon-"]:after, [class*="service flaticon-"]:after {
    font-size: 60px;
}


[class^="icon flaticon-"]:before, [class*="icon flaticon-"]:before,
[class^="icon flaticon-"]:after, [class*="icon flaticon-"]:after {
    font-size: initial;
}

.flaticon-comment:before{
    font-size: 17px;
}

.txt-rotate >.wrap {
    border-right: 0.08em solid #666
}

.ftco-animate{
    min-height: 150px;
}

#section-counter{
    margin-bottom: 20px;
}

.ftco-section{
    padding: 3em 0;
}

#scrollToTop {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border:1px solid #3e64ff!important;
    border-radius: 50%;
    outline-color:transparent;/*to prevent outline on focus*/
    color:var(--white);
    background-color: #3e64ff;
  }

  [dir="rtl"] #scrollToTop {
    left: 30px;
    right: unset;
  }
  /* #scrollToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  } */
  #scrollToTop:hover {
    cursor: pointer;
    background-color: var(--white-gray);
  }
  #scrollToTop:active {
    background-color: var(--white-gray);

  }
  #scrollToTop:focus {
    outline: 0px;

  }
  #scrollToTop.show {
    opacity: 1;
    visibility: visible;
  }

#scrollToTop:hover .flaticon-arrow-pointing-north,
#scrollToTop:active .flaticon-arrow-pointing-north,
#scrollToTop:visited .flaticon-arrow-pointing-north{
    color: #222;
}
#scrollToTop i{
    right: 2px;
    position: relative;
}